.accordion-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: .5px;
    background: $white;
  }

  &__toggle {
    position: relative;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    // font-family: $sansSerif;
    font-size: 3.8rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__icon {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;

    svg {
      height: auto;
      width: 100%;
      transition: transform 0.5s ease;

      .is-open & {
        transform: scaleY(-1);
      }
    }
  }

  &__content-wrapper {
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease-out;
    height: 0;
  }

  &__content {
    padding: 1rem 0;
    text-align: center;


    h4 {
      font-family: $sansSerif;
      text-align: center;
      font-weight: bold;
      margin: 4rem 0 2rem;
      font-size: 1.6rem
    }

    ul {
      text-align: center;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        padding-left: 0;
      }
    }

    // .is-open & {
    //   padding: 1rem 0;
    // }
  }
}