:root {
  --background: #000;
  --foreground: #fff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: $sansSerif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cta {
  display: inline-block;
  font-family: $sansSerif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: $white;
  background-color: $black;
  border: .5px solid $white;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
  letter-spacing: -.1rem;

  @media screen and (min-width: 768px) {
    font-size: 1.8rem;
    padding: 1.5rem 3rem;
  }

  &:hover {
    background-color: $white;
    color: $black;
  }

  &--inverse {
    color: $black !important;
    background-color: transparent !important;
    border: 2px solid $black !important;

    &:hover {
      background-color: $black !important;
      color: $white !important;
    }
  }

  &--serif {
    font-family: $serif;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: none;
    font-size: 4.2rem;
  }
}

h1,h2,h3,h4,h5,h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $serif;
  font-weight: 400;
  line-height: .95;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a {
  color: inherit;
}

.back-link {
  position: fixed;
  top: 2rem;
  left: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  letter-spacing: -.1rem;
  cursor: pointer;
  padding: 1rem;
  border: .5px solid $white;
  border-radius: 2px;
  background: $black;
  color: $white;
  z-index: 1;
  transition: background-color .3s ease;

  &--transparent {
    background: transparent;
    color: $black;
    border-color: $black;

    .back-link__image {
      filter: invert(1);
    }

    // only add hover if not on touch device
    @media (hover: hover) and (pointer: fine) {
      &.back-link:hover {
        background: $black;
        color: $white;

        .back-link__image {
          filter: invert(0);
        }
      }
    }
  }

  @media screen and (min-width: 768px) { 
    left: 3rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
    top: 3rem;
    left: 3rem;
    padding: 1.5rem;
  }

  // only add hover if not on touch device
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: $white;
      color: $black;
      border-color: $black;

      .back-link__image {
        filter: invert(1);
      }
    }
  }

  &__image {
    transform: scaleX(-1);
    height: 16px;
    width: auto;

    @media screen and (min-width: 1024px) {
      height: 20px;
    }
  }
}
