
.Information {
  min-height: 100svh;
  padding: 6rem 3rem;

  @media screen and (min-width: 1024px) {
    padding: 8rem 6rem;
  }

  &__header {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: .2rem;

    @media screen and (min-width: 1024px) {
      font-size: 8rem;
    }
  }

  &__content {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: -.02rem;
    text-align: center ;
  }

  &__subheader {
    width: 100%;
    margin: 4rem auto 1rem;
    font-size: 1.8rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__list-header {
    text-align: center;
    font-weight: bold;
    margin-top: 2rem;
  }

  &__list {
    text-align: center;
    list-style: none;

    li {
      padding-left: 20px;
    }
  }
}




