
.Information {
  min-height: 100svh;
  padding: 6rem 3rem;

  @media screen and (min-width: 1024px) {
    padding: 8rem 6rem;
  }

  &__header {
    font-size: 6rem;
    text-align: center;
    letter-spacing: .2rem;

    @media screen and (min-width: 1024px) {
      font-size: 8rem;
    }
  }

  &__content {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: -.02rem;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 6rem 0;

    @media screen and (min-width: 1024px) {
      padding: 8rem 0;
      gap: 60px;
    }
  }
}




