.rsvp-form {
  $c: &;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
  }

  &__fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__legend {
    color: $white;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    letter-spacing: -.1rem;
    line-height: 1.5;

    @media screen and (min-width: 1024px) {
      font-size: 1.6rem;
      
    }
  }

  &__radio-input {
    display: none;
    margin-bottom: 1rem;
  }

  &__radio-label {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 1.2rem;
    position: relative;
    transition: background-color 0.2s;
    padding-left: 2.5rem;
    height: 1.6rem;
    letter-spacing: -.2rem;

    &::after {
      transition: background-color 0.2s;
    }

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 1.6rem;
      height: 1.6rem;
      background: $white;
      border-radius: 50%;
    }

    #{$c}__radio-input:checked + &::after {
      content: '';
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      background: $black;
      border-radius: 50%;
      position: absolute;
      top: .2rem;
      left: .2rem;
    }
  }

  &__submit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0;
  }

  &__error-message {
    font-size: 1.4rem;
    color: #ff6b6b;
    margin-top: 1rem;
    text-align: center;
  }

  &__success-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $white;
    text-align: center;
    margin-top: 2rem;
  }

  &__success-header {
    font-size: 2.4rem;
  }

  &__success-text {
    font-size: 1.6rem;
  }
}