.rsvp-page {
  position: relative;
  color: $background;
  max-width: 1440px;
  padding: 6rem 3rem;
  margin: 0 auto;
  letter-spacing: .02rem;
  font-weight: 700;

  @media screen and (min-width: 1024px) {
    padding: 8rem 6rem;
  }

  &__header {
    color: $white;
    font-size: 6rem;
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: .2rem;
  }

  &__header-space {
    letter-spacing: 1.6rem;
  }

  &__info-text {
    font-size: 1.2rem;
    color: $white;
    max-width: 500px;
    text-align: center;
    letter-spacing: -.1rem;
    line-height: 1.5;
    margin: 0 auto 3rem;

    @media screen and (min-width: 1024px) {
      font-size: 1.6rem;
    }
  }
}