.page {
  min-height: 100svh;
  padding: 6rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1024px) {
    padding: 8rem 6rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.heading {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;

  @media screen and (min-width: 375px) {
    font-size: 4.8rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 6.8rem;
  }

  br {
    display: block;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.subheading {
  font-family: $serif;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: .5rem;

  @media screen and (min-width: 375px) {
    font-size: 3.8rem;
  }

  @media screen and (min-width: 1024px) {
    font-size: 5.2rem;
  }
}

.ctaContainer {
  margin-top: 2.8rem;
}

.cherub {
  margin-top: 3.3rem;
  height: 200px;
  width: auto;
}